.list-perfomance__icon {
    width: 70px;
    height: 70px;







}

.list-perfomance__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    padding: 25px 100px;

}



.list-perfomance__item {
    display: flex;
    flex-wrap: wrap;





}

.list-perfomance__item {

    flex-basis: calc(100% / 4 - 30px);


}

.item-text:last-child {
    margin-right: 0px;

}



.text {
    margin-top: 10px;

}